body,p {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  height:auto;
}

.title {
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
}

.left-column {
  flex: 1;
  background-color: #5d7f97;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: auto;
}

.left-top-row{
  flex: 1;  
  width: 100%; 
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-column-content {
  flex: 4;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.right-column {
  flex: 4; 
  background-color: #34495e;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.right-top-row {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  overflow: auto;
  position: relative;
}

.right-top-left, .right-top-right {
  flex:4;
  display: flex;
  align-items: center;
  padding: 10px;
}

.right-top-left {
  justify-content: flex-end;
}

.right-top-right {
  justify-content: flex-start;
}

.right-top-mid{
  flex:6;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.right-top-mid::-webkit-scrollbar {
  width: 0; 
  height: 0;
}

.verse {
  font-size: 1.3em;
  list-style-type: none;
  font-weight: 100;
  color: black;
  margin-right: 40px;
}

.verse-button, .verse-button2 {
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #34495e;
  border: 1px solid white;
  color: white;
  z-index: 2;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.left-button, .right-button2 {
  order: 2;
}

.right-button, .left-button2 {
  order: 1;
}

.line {
  margin-bottom: 10px;
}

.right-bottom-row {
  flex: 4;  
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  position: relative;
}

svg {
  width: 98%;         
  height: 98%;
  background-color: black;    
  overflow: auto;    
}

.zoom-button {
  position: absolute;
  bottom: 10px;
  right: 15px;   
  width: 30px;   
  height: 30px;  
  background-color: #34495e;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
}

#zoom-out {
  bottom: 45px; 
}

.dropdown {
  position: absolute;
  top: 10px;   
  right: 14px; 
  padding: 5px;
  background-color: #34495e;
  border: none;
  color: white;
  cursor: pointer;
}

.active-verse {
  font-weight: 900;
  color: #555;
}

.active-line {
  color: white;
}

.filler-verse {
  height: 500px;
  flex: 1;
}

